h1, footer {
    text-align: center;
}
footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: small;
}

nav > ul{
    display: flex;
    justify-content: space-between;
}

nav > ul > li {
list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

input {
    margin-left: 43%;
}